li {
  display: inline-block;
  padding: 50px 50px;
  text-decoration: none;
  text-align: center;
  margin: 21px 646px 21px 646px;
}

ul {
  list-style-type: none;
  padding: 10px 30px;
  margin: 10px;
}
