li {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  width:auto;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  width:auto;
}
